{
    "env": {
      "es6":true,
      "node": true,
      "jest": true
    },
    "extends": [
      "eslint:recommended",
      "google",
      "prettier"
    ],
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "rules": {
      "no-console": 0,
      "require-jsdoc": 0,
      "no-invalid-this": 0,
      "strict": [ "error", "global" ]
    }
  }
  